!book/Makefile
!book/README.md
!puzzles/*.jpl
!puzzles/Makefile
!puzzles/README.md
book/*
build
frontend/book.tsv.js
frontend/deps
frontend/eco.tsv.js
frontend/gumble.js
frontend/index.html
frontend/ormulogun.css
frontend/ormulogun.js
frontend/puzzles/*.js
frontend/puzzles/*.json
frontend/stockfish.js
frontend/stockfish.wasm
frontend/stockfish.wasm.js
puzzles/*
