build
book/*
!book/Makefile
!book/README.md
frontend/deps
frontend/gumble.js
frontend/stockfish.js
frontend/stockfish.wasm.js
frontend/stockfish.wasm
frontend/index.html
frontend/ormulogun.css
frontend/ormulogun.js
frontend/puzzles/*.js
frontend/puzzles/*.json
puzzles/*
!puzzles/*.jpl
!puzzles/Makefile
!puzzles/README.md
